html
	head
		title="brocast - Live streaming desktop browser extension"
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		link(href='stylesheets/style.css', rel='stylesheet')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
		script(src="javascripts/jquery.bxslider.min.js")
		script(src="javascripts/jquery.bxslider.js")
		link(href="stylesheets/jquery.bxslider.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/brocast/nlhljljckfcpbiiojnaicjdanjagaidg")

		script.
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54842516-1', 'auto');
		  ga('send', 'pageview');
			
	body

		div(id="fb-root")
		script.
			if (chrome.app.isInstalled) {
				document.getElementById('install-button').style.display = 'none';
			}
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		div(id="container")
			
			a(href="https://github.com/jawerty/brocast")
				img(style="position: absolute; top: 0; left: 0; border: 0; z-index: 999999" src="//s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub")
			
			div(id="social")
				iframe(src="http://ghbtns.com/github-btn.html?user=jawerty&repo=brocast&type=star" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20")

				a(class="twitter-share-button" href="https://twitter.com/share" ) Tweet
					script.
						window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));

				div(class="fb-like" data-href="http://www.brocast.me/" data-layout="button" data-action="like" data-show-faces="true" data-share="true")
			
			div(id="title")

				div(id="logoDiv" align = "center")
					a(href="https://github.com/jawerty/brocast")
						img(src="images/Brocast_logo.png" id="logo" alt="brocast")

				h1(align = "center") Stream your screen like a bro
				br
				div(id="getItNow" align="center")
					a(href="https://chrome.google.com/webstore/detail/brocast/nlhljljckfcpbiiojnaicjdanjagaidg" style="font-size:16pt") Get it on the Chrome Web Store
				br
				br
				br
				ul(class="bxslider" align = "center")
					li
						img(src="images/1.png")
					li
						img(src="images/2.png")
					li
						img(src="images/3.png")
					li
						img(src="images/4.png")

				div(id="bx-pager")
					a(data-slide-index="0" href="" style="margin-right:5px;")
						img(src="images/thumbs/1.png")
					a(data-slide-index="1" href="" style="margin-right:5px;")
						img(src="images/thumbs/2.png")
					a(data-slide-index="2" href="" style="margin-right:5px;")
						img(src="images/thumbs/3.png")
					a(data-slide-index="3" href="" style="margin-right:5px;")
						img(src="images/thumbs/4.png")

				script.
					$(document).ready(function(){
						$('.bxslider').bxSlider({
							pagerCustom: '#bx-pager'
						});
					});
				br

				h3(align = "center") Built during PennApps 2014f by 
					a(href="https://github.com/jawerty")@jawerty,&nbsp; 
					a(href="https://github.com/bogidon")@bogidon,&nbsp;
					a(href="https://github.com/elklein96")@elklein96
				br
				br